header {
    height: 140px;
    margin-bottom: 20px;
}

button {
    
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.right{
    margin-left: 1200px;
    display: flex;
}

button[name="logout"]{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #599bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 1.5;
}

