body {
    font-family: Arial, sans-serif;
    margin: 0px;
    position: relative;
    text-align: center;
}

.textBox {
  position: relative;
  width: 100%;
  padding-top: 10px;
  height: 45px;
  display: inline-flex;
  margin-bottom: 3vh;
}