body {
    font-family: Arial, sans-serif;
    margin: 0px;
    position: relative;
    text-align: center;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

label {
    font-size: 18px;
}

.fixed-width {
    width: 100px;
}

.auto-width {}

th,
td {
    padding: 1px;
    border: 1px solid #ddd;
    text-align: center;
}

button {
    padding: 5px 10px;
    background-color: #599bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 1.5;
}

input[type="text"] {
    padding: 5px;
    width: 35%;
    margin-right: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

img {
    position: relative;
    z-index: 10;
}

.left-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    opacity: 0.5;
}

.right-image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    opacity: 0.5;
}

.expired {
    color: red;
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    /* 取り消し線 */
    font-style: italic;
    /* 斜体 */
    color: grey;
    /* 少し薄い色にすることで目立たなくする */
}

.warning {
    background-color: rgb(255, 242, 0);
    /* 背景を黄色にして警告を示す */
}

td img {
    width: 20px;
    /* 優先度アイコンの大きさ */
    height: auto;
}
