<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/todo-list.css}">
</head>
<body>
    <div th:fragment="header">
        <header style="background-color: #f8f8f8;">
            <img src="/images/icon.png" alt="アイコン">
            <h1>ToDoList</h1>
        </header>
    </div>
    <div th:fragment="footer">
        <footer style="background-color: #f8f8f8; text-align: center;">
            <p>&copy; ToDoList, Created By Team4</p>
        </footer>
    </div>
</body>
</html>