<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(ログイン)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <h3>ログイン</h3>
    <div th:if="${param.error}" style="color:red">
        ユーザー名、またはパスワードに誤りがあります
    </div>
    <form th:action="@{/login}" method="post">
        <div class="textBox">
            <label for="username">ユーザー名</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="textBox">
            <label for="password">パスワード</label>
            <input type="text" id="password" name="password">
        </div>
        <button type="submit">ログイン</button>
    </form>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>