<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(新規登録)}"></head>
<link rel="stylesheet" th:href="@{/css/login.css}">
<body>
    <div th:replace="~{layout :: header}"></div>
    <img src="\images\sakura.png" alt="左側の美しい桜" class="left-image2">
    <div class="border">
    <h2>新規登録</h2>
    <div th:if="${error}" style="color:red">
        ユーザー名は既に存在しています
    </div>
    <div th:if="${BlankError}" style="color:red">
        ユーザー名とパスワードは必須です
    </div>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="stuff">
        <div class="textBox">
            <input 
                class="text"
                type="textbox"
                placeholder="ユーザー名" 
                name="username"
                th:field="*{username}"
                onkeyup="this.setAttribute('value', this.value);"
                value="">
            <label class="label">ユーザー名</label>
            <label class="error"></label>
        </div>
        <div class="textBox">
            <input 
                class="text"
                type="password"
                th:field="*{password}"
                placeholder="パスワード"
                id="password"
                name="password"
                onkeyup="this.setAttribute('value', this.value);"
                value="">
            <label class="label">パスワード</label>
            <label class="error"></label>
        </div>
    </div>
    <button class="login" type="submit">登録</button>
    </form>
    </div>
</body>
</html>