<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(ToDoList)}"></head>
<link rel="stylesheet" th:href="@{/css/todo-list.css}">
<body>
    <img src="\images\left.take.png" alt="左側の美しい竹" class="left-image">
    <img src="\images\right.take.png" alt="右側の美しい竹" class="right-image">

    <script th:src="@{/js/expiration.js}"></script>
    <!-- 期限切れの予定日を赤く色づけするJS -->
    <script th:src="@{/js/oritatami.js}"></script>
    <!-- Doneリストを折りたたむJS -->
    <script th:src="@{/js/reload.js}"></script>
    <!-- スクロール位置を復元するJS -->

    <div th:replace="~{layout :: header}"></div>

    <p>こんにちは、<span th:text="${#authentication.principal.getUsername()}"></span>さん</p>

    <form th:action="@{nagomi/new}" th:object="${todo}" method="post">
        <label for="todo">新しいタスクを追加：</label>
        <input type="text" id="todo" name="todo" th:field="*{title}" required>
        <label for="todo">完了予定日を入力：</label>
        <input type="date" name="todo" th:field="*{completionDate}" onblur="checkInput(this)">
        <label><input type="radio" name="null" value=4 th:field="*{priority}" checked>無</label>
        <label><input type="radio" name="high" value=1 th:field="*{priority}">高</label>
        <label><input type="radio" name="middle" value=2 th:field="*{priority}">中</label>
        <label><input type="radio" name="low" value=3 th:field="*{priority}">低</label>

        <button type="submit">追加</button>

    </form>
    <h3>ToDo[<span th:text="${notCompletedTodos.size()}"></span>件]</h3>
    <table>
        <thead>
            <tr>
                <th class="fixed-width">完了</th>
                <th class="fixed-width">優先度<img th:src="@{/images/sort-off.png}" alt="非ソート"></span></th>
                <th class="fixed-width">予定日</th>
                <th class="auto-width">タイトル</th>
                <th class="fixed-width">削除</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${notCompletedTodos}">
                <th:block th:if="${todo.completed == FALSE}">
                    <td>
                        <form th:action="@{nagomi/{todoId}/complete(todoId=${todo.todoId})}" method="post">
                            <input type="checkbox" name="todoid" th:value="${todo.todoId}" onchange="this.form.submit()">
                        </form>
                    </td>
                    <td>
                        <img th:src="@{/images/high.png}" th:if="${todo.priority == 1}" alt=1 title="高" />
                        <img th:src="@{/images/medium.png}" th:if="${todo.priority == 2}" alt="2" title="中" />
                        <img th:src="@{/images/low.png}" th:if="${todo.priority == 3}" alt=3 title="低" />
                        <img th:src="@{/images/null.png}" th:if="${todo.priority == 4}" alt=4 title="無" />
                        <!-- 優先度のアイコン表示 -->
                    </td>
                    <td th:text="${todo.completionDate}" class="date" ></td>
                    <td th:text="${todo.title}"
                        >
                    </td>
  
                    <td>
                        <form th:action="@{/nagomi/{todoId}/delete(todoId=${todo.todoId})}" method="post">
                            <button type="submit">削除</button>
                        </form>
                    </td>
                </th:block>
            </tr>
        </tbody>
    </table>
    <div id="折りたたみB">
        <div class="image-text-container">
            <h3 href="javascript:void(0)" onclick="dd('折りたたみ指示B')"><img src="/images/triangleleft_83849.png"
                    id="折りたたみ指示Bi" style=" margin-right: 30px; 
    width: 15px; height: 15px;" alt="三角印">Done[<span th:text="${completedTodos.size()}"></span>件]</h3>
        </div>

        <table id="折りたたみ指示B">
            <thead>
                <tr>
                    <th class="fixed-width">完了</th>
                    <th class="fixed-width">優先度</th>
                    <th class="fixed-width">完了日</th>
                    <th class="auto-width">タイトル</th>
                    <th class="fixed-width">削除</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todo : ${completedTodos}">
                    <th:block th:if="${todo.completed == TRUE}">
                        <td>
                            <form th:action="@{nagomi/{todoId}/deComplete(todoId=${todo.todoId})}" method="post">
                                <input type="checkbox" name="todoId" th:value="${todoId}" checked
                                    onchange="this.form.submit()">
                            </form>
                        </td>
                        <td>
                            <img th:src="@{/images/high.png}" th:if="${todo.priority == 1}" alt=1 title="高" />
                            <img th:src="@{/images/medium.png}" th:if="${todo.priority == 2}" alt="2" title="中" />
                            <img th:src="@{/images/low.png}" th:if="${todo.priority == 3}" alt=3 title="低" />
                            <img th:src="@{/images/null.png}" th:if="${todo.priority == 4}" alt=4 title="無" />
                        </td>
                        <td th:text="${todo.completionDate}" class="date"></td>
                        <td th:text="${todo.title}" th:classappend="${todo.completed ? 'completed' : ''}"></td>
                        <!-- 完了したタスクに斜線を引く -->
                        <td>
                            <form th:action="@{/nagomi/{todoId}/delete(todoId=${todo.todoId})}" method="post">
                                <button type="submit">削除</button>
                            </form>
                        </td>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>