<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(ToDoList)}"></head>
<link rel="stylesheet" th:href="@{/css/todo-list.css}">
<body>
    <img src="\images\left.take.png" alt="左側の美しい竹" class="left-image">
    <img src="\images\right.take.png" alt="右側の美しい竹" class="right-image">

    <script th:src="@{/js/today.js}"></script>
    <!-- チェックボックスで現在日取得するJS -->
    <script th:src="@{/js/expiration.js}"></script>
    <!-- 期限切れの予定日を赤く色づけするJS -->
    <script th:src="@{/js/Count.js}"></script>
    <!-- テーブルの行数を取得するJS -->
    <script th:src="@{/js/oritatami.js}"></script>
    <!-- Doneリストを折りたたむJS -->
    <script th:src="@{/js/reload.js}"></script>
    <!-- スクロール位置を復元するJS -->

    <div th:replace="~{layout :: header}"></div>

    <form th:action="@{nagomi/new}" th:object="${todo}" method="post">
        <label for="todo">新しいタスクを追加：</label>
        <input type="text" id="todo" name="todo" th:field="*{title}" required>
        <label for="todo">完了予定日を入力：</label>
        <input type="date" name="todo" th:field="*{completion_date}">
        <input type="radio" name="priority" value=0 th:field="*{priority}" checked>無
        <input type="radio" name="priority" value=1 th:field="*{priority}">高
        <input type="radio" name="priority" value=2 th:field="*{priority}">中
        <input type="radio" name="priority" value=3 th:field="*{priority}">低

        <button type="submit">追加</button>

    </form>
    <h3>ToDo<span id="incompleteCount"></span></h3>
    <table>
        <thead>
            <tr>
                <th class="fixed-width">完了</th>
                <th class="fixed-width">優先度</th>
                <th class="fixed-width">予定日</th>
                <th class="auto-width">タイトル</th>
                <th class="fixed-width">削除</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <th:block th:if="${todo.completed == FALSE}">
                    <td>
                        <form th:action="@{nagomi/{todoId}/complete(todoId=${todo.todoId})}" method="post">
                            <input type="checkbox" name="todoid" th:value="${todo.todoId}" id="timeCheckbox"
                                onclick="getCurrentDate()" onchange="this.form.submit()">
                        </form>
                    </td>
                    <td>
                        <img th:src="@{/images/high.png}" th:if="${todo.priority == 1}" alt=1 title="高" />
                        <img th:src="@{/images/medium.png}" th:if="${todo.priority == 2}" alt="2" title="中" />
                        <img th:src="@{/images/low.png}" th:if="${todo.priority == 3}" alt=3 title="低" />
                        <img th:src="@{/images/null.png}" th:if="${todo.priority == 0}" alt=0 title="無" />
                        <!-- 優先度のアイコン表示 -->
                    </td>
                    <td th:text="${todo.createdDate}" class="date">></td>
                    <td th:text="${todo.title}"
                        th:classappend="${todo.dueDate.isAfter(T(java.time.LocalDate).now()) && todo.dueDate.isBefore(T(java.time.LocalDate).now().plusDays(3)) ? 'warning' : ''}">
                    </td>
                    <!-- 予定日より３日前を配色する -->
                    <td>
                        <form th:action="@{/nagomi/{todoId}/delete(todoId=${todo.todoId})}" method="post">
                            <button type="submit">削除</button>
                        </form>
                    </td>
                </th:block>
            </tr>
        </tbody>
    </table>
    <div id="折りたたみB">
        <div class="image-text-container">
            <h3 href="javascript:void(0)" onclick="dd('折りたたみ指示B')"><img src="/images/triangleleft_83849.png"
                    id="折りたたみ指示Bi" style=" margin-right: 30px; 
    width: 15px; height: 15px;" alt="三角印">Done<span id="completedCount"></span></h3>
        </div>

        <table id="折りたたみ指示B">
            <thead>
                <tr>
                    <th class="fixed-width">完了</th>
                    <th class="fixed-width">優先度</th>
                    <th class="fixed-width">完了日</th>
                    <th class="auto-width">タイトル</th>
                    <th class="fixed-width">削除</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todo : ${todos}">
                    <th:block th:if="${todo.completed == TRUE}">
                        <td>
                            <form th:action="@{nagomi/{todoId}/deComplete(todoId=${todo.todoId})}" method="post">
                                <input type="checkbox" name="todoId" th:value="${todoId}" checked
                                    onchange="this.form.submit()">
                            </form>
                        </td>
                        <td>
                            <img th:src="@{/images/high.png}" th:if="${todo.priority == 1}" alt=1 title="高" />
                            <img th:src="@{/images/medium.png}" th:if="${todo.priority == 2}" alt="2" title="中" />
                            <img th:src="@{/images/low.png}" th:if="${todo.priority == 3}" alt=3 title="低" />
                            <img th:src="@{/images/null.png}" th:if="${todo.priority == 0}" alt=0 title="無" />
                        </td>
                        <td id="dateDisplay"></td>
                        <td th:text="${todo.title}" th:classappend="${todo.completed ? 'completed' : ''}"></td>
                        <!-- 完了したタスクに斜線を引く -->
                        <td>
                            <form th:action="@{/nagomi/{todoId}/delete(todoId=${todo.todoId})}" method="post">
                                <button type="submit">削除</button>
                            </form>
                        </td>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>